#!/bin/rc

rfork e

nl='
'

fn die {
	echo $* : $status>[1=2]
	exit die
}

fn usage {
	echo usage: $1 >[1=2]
	exit usage
}


if(~ $#TRASRV 0)
	TRASRV=(8.trasrv)
if(~ $#SYNC 0)
	SYNC=(8.textui)
if(~ $#TRADUMP 0)
	TRADUMP=(8.tradump)
if(~ $#TRAMKDB 0)
	TRAMKDB=(8.tramkdb)
if(~ $#TRATMP 0)
	TRATMP=/tmp/tratest
if(~ $#RCSHELL 0){
	if(test -x /bin/rc){
		RCSHELL=/bin/rc
	}else if(test -x /home/ny3/rsc/bin/^`{uname}^/^`{uname -m}^/rc){
		RCSHELL=/home/ny3/rsc/bin/^`{uname}^/^`{uname -m}^/rc
	}else
		die cannot find rcj
}

fn replica {
	if(~ $TRATMP '') die not going to remove slash
	/bin/rm -fr $TRATMP/*
	for(i){
		/bin/mkdir $TRATMP/$i || die
		echo tramkdb... >[1=2]
		$TRAMKDB -R $TRATMP/$i.db $i owner descr proto || die
		{
			echo '#!'$SHELL
			echo $TRASRV '$*' -r $TRATMP/$i $TRATMP/$i.db # $TRATMP/$i.proto
		} >$TRATMP/$i.s || die
		chmod +x $TRATMP/$i.s || die replica $i
	}
}

fn proto {
	if(! ~ $#* 2)
		usage 'mount replica proto-addition'
	if(test -f $TRATMP/$1.emptyproto)
		/bin/rm -f $TRATMP/$1.emptyproto $TRATMP/$1.proto
	echo $2 >>$TRATMP/$1.proto || die proto $1
}

fn sync {
	flags=()
	if(~ $1 -*){
		flags=$1
		shift
	}
	if(! ~ $#* 2 3)
		usage 'sync [-flags] from to [path]'

	@{
		rfork e
		fn rm
		fn mkdir
		echo sync... >[1=2]
		$SYNC $flags $TRATMP/$1.s $TRATMP/$2.s $3 || die sync $1 $2 $3
	} || die sync $1 $2 $3
}

fn change {
	if(! ~ $#* 2 || ! ~ $1 */*)
		usage 'create replica/path contents'

	test -f $TRATMP/$1 || die change non-file $1
	echo $2 >$TRATMP/$1 || die change $1
}

fn create {
	if(! ~ $#* 2 || ! ~ $1 */*)
		usage 'create replica/path contents'

	test ! -e $TRATMP/$1 || die create extant file $1
	echo $2 >$TRATMP/$1 || die create $1
}

fn mkdir {
	if(! ~ $#* 1 || ! ~ $1 */*)
		usage 'mkdir replica/path'

	/bin/mkdir $TRATMP/$1 || die mkdir $1
}

fn isfile {
	if(! ~ $#* 1 2 || ! ~ $1 */*)
		usage 'isfile replica/path [contents]'

	test -f $TRATMP/$1 || die isfile $1
	if(~ $#* 2)
		cmp $TRATMP/$1 <{echo $2} || die isfile $1 $2
}

fn isdir {
	if(! ~ $#* 1 || ! ~ $1 */*)
		usage 'isfile replica/path'

	test -d $TRATMP/$1 || die isdir $1
}

fn isnot {
	if(! ~ $#* 1 || ! ~ $1 */*)
		usage 'isfile replica/path'

	test ! -e $TRATMP/$1 || die isnot $1
}

fn rm {
	if(! ~ $#* 1 || ! ~ $1 */*)
		usage 'rm replica/path'

	test -e $TRATMP/$1 || die rm $1: nonexist
	/bin/rm -df $TRATMP/$1
}

fn x {
	echo '***' $* 
}

fn dump {
	if(! ~ $#* 1 || ~ $1 */*)
		usage 'dump replica'

	echo '______________' db $1 '________________'
	$TRADUMP $TRATMP/$1.db
	echo '____________________________________'
}

fn uncover {
	/bin/rm .coverage *,cover >[2]/dev/null
}

fn coverage {
	python coverage.py -a sync.py
}

# fn scan {
# 	if(! ~ $#* 1 || ~ $1 */*)
# 		usage 'scan replica'
# 
# 	echo 'Tscan /' | $TRATMP/$1.s -t >/dev/null
# }

fn run {
	for(i){
		echo $i
		. $i
	}
}

if(~ $#* 0)
	prompt=('TRATEST: ' '	') exec rc -i
run $*

